<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/FinalYearWatch" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="LjDpBZkILK.FinalYearWatch" package="LjDpBZkILK" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="tizen.org/feature/location.gps"/>
    <feature name="tizen.org/feature/sensor.heart_rate_monitor"/>
    <feature name="tizen.org/feature/sensor.activity_recognition"/>
    <feature name="tizen.org/feature/sensor.sleep_monitor"/>
    <icon src="icon.png"/>
    <name>FinalYearWatch</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
	